<div class="note-prop">
    <div class="reminder prop" role="button"  matTooltip="Remind me" matTooltipClass="prop-tip" matTooltipPosition='below'></div>
    <div class="collaborator prop" role="button" matTooltip="Collaborator" matTooltipPosition='below'></div>
    <div class="back-img prop" role="button" matTooltip="Add image" matTooltipPosition='below'></div>
    <div class="archive prop" role="button" matTooltip="Archive" matTooltipPosition='below'></div>
    <div class="more-opn prop" role="button" matTooltip="More" matTooltipPosition='below'></div>
    <div class="undo prop" role="button" matTooltip="Undo" matTooltipPosition='below'></div>
    <div class="redo prop" role="button" matTooltip="Redo" matTooltipPosition='below'></div>
</div>
