@media only screen and (min-width:600px){
  .card {
     transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
     display: block;
     position: relative;
     padding: 16px;
     border-radius: 4px;
     width: 500px;
   }
   .main {
     
     text-align: center;
     height: 100vh;
     /* min-height: 500px; */
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .mat-card-title {
     margin-top: 10px;
     display: flex;
     padding: 0.4em;
     margin-bottom: 0 !important;
   }
   .f {
     color: #4285f4;
   }
   .u {
     color: #db4437;
   }
   .n {
     color: #f4b400;
   }
   .d {
     color: #4285f4;
   }
   .o {
     color: #0f9d58;
   }
   .O {
     color: #db4437;
   }
   a {
     text-decoration: none;
   }
   .mat-card-subtitle {
     color: #202124;
     padding-bottom: 0;
     font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
     font-size: 20px;
     font-weight: 400;
     margin-bottom: 0;
     margin-top: 0;
     text-align: left;
     text-indent: 7px;
   }
   .mat-card-content {
     width: 413px;
     padding: 0.6em;
   }
   .form-div {
     margin-bottom: none;
     display :flex
   }
   .mat-form-field {
     margin-right: 10px;
     display: inline;
   }
   .i {
     margin-top: 0%;
   }
   .signIn {
     color: #4586ee;
     font-weight: bold;
     cursor: pointer;
   }
   .card :hover {
     background-color: #ffa500;
     transform: scale(1.1);
   }
   .service {
     margin-left: 36px;
     margin-top: 36px;
   }
   .message {
     margin-top: 8px;
   }
   .hint {
     color: rgba(0, 0, 0, 0.6);
     font-size: 12px;
     display: flex;
     margin-top: -12px;
   }
   .bottom {
     box-sizing: inherit;
     display: flex;
     justify-content: space-between;
   }
   .width{
     width: 111%;
   } 
   
   .whole{
     display: flex;
 
   }
   
   .leftside {
     width: 500px;
 }
 
 .rightside{
   display:grid;
   align-self: center;
   
 }
 .rightside img{
   width: 244px ;
   height: 244px;
 }
 }